[submodule "emacs.d"]
	path = emacs.d
	url = https://github.com/themattchan/emacs.d.git
[submodule "linux/config/awesome"]
	path = linux/config/awesome
	url = https://github.com/themattchan/awesome-config.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "linux/xmonad"]
	path = linux/xmonad
	url = git@github.com:themattchan/xmonad-config.git
