[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matt/Desktop/Screenshot_2016-08-25_20-51-34.png]
row=5
col=0

[/home/matt/Desktop/Home.desktop]
row=4
col=0

[660077C600779BAD]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/matt]
row=3
col=0

