[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/matt/Desktop/wtf.png]
row=6
col=0

[/home/matt/Desktop/Home.desktop]
row=4
col=0

[48da7bf2-4a24-49d3-8391-2a821d8dd1b3]
row=5
col=0

[c1ab1dcd-f925-4b9d-99aa-8689b0997834]
row=0
col=0

[6276-DC78]
row=1
col=0

[/]
row=2
col=0

[/home/matt]
row=3
col=0

