Use_Label=false
Show_Values=true
Show_Bars=false
Colorize_Values=true
Color_In=#1E90FF
Color_Out=#008000
Text=n
Network_Device=wlp1s0
Max_In=4096
Max_Out=4096
Auto_Max=true
Update_Interval=250
Values_As_Bits=false

