[Main]
Timeout=250
Timeout_Seconds=1
Use_Timeout_Seconds=true

[SL_Cpu]
Enabled=true
Use_Label=true
Color=#0000C0
Text=c

[SL_Mem]
Enabled=true
Use_Label=true
Color=#00C000
Text=m

[SL_Swap]
Enabled=true
Use_Label=true
Color=#F0F000
Text=s

[SL_Uptime]
Enabled=true

