[Desktop Entry]
Name=Messenger
Exec=epiphany --application-mode --profile="/home/matt/.config/epiphany/app-epiphany-messenger-68074b808a6b4cb6bfdef8565357226035058dd9" https://www.messenger.com/
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;GNOME;GTK;
Icon=/home/matt/.config/epiphany/app-epiphany-messenger-68074b808a6b4cb6bfdef8565357226035058dd9/app-icon.png
StartupWMClass=epiphany-messenger-68074b808a6b4cb6bfdef8565357226035058dd9
X-XFCE-Source=file:///home/matt/.local/share/applications/epiphany-messenger-68074b808a6b4cb6bfdef8565357226035058dd9.desktop
